extends layout
block content
 h1= title
 - let huntingid = toShow._id
 - let huntingitem = toShow.hunting_item
 - let huntingprice = toShow.hunting_item_price
 - let huntingquantity = toShow.hunting_item_quantity
 div
    div.row
        div(class='huntingAttr mr-3') Hunting ID is:
        div #{huntingid}
    div.row
        div(class='huntingAttr mr-3') Hunting Item Type is:
        div #{huntingitem}
    div.row
        div(class='huntingAttr mr-3') Hunting Item price is:
        div #{huntingprice}
     div.row
         div(class='huntingAttr mr-3') Hunting Item Quantity is:
         div #{huntingquantity}